<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final - Villalba</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/Gnome-joystick.svg.png">
</head>
<body>
    <!-- header-->
    <header>
        <div>
            <h1>NOTICIAS DE VIDEOJUEGOS</h1>
            <p> Todas las novedades sobre la industria de los Videojuegos.</p>
        </div>
    </header>
    <!-- navbar -->
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="noticias.html">Noticias</a>
        <a href="registro.html">Registrarse</a>
    </nav>

    <!-- Formulario de Registro-->
    <form action="">
        <fieldset>
            <legend>Formulario de Registro</legend>
            <label for="Nombre">Nombre</label>
            <input type="text" name="name" id="Nombre">
            <label for="apellido">Apellido</label>
            <input type="text" name="name" id="apellido">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">
            <label for="pass">Contraseña</label>
            <input type="password" name="password" id="pass">
            <label for="fecha">Fecha de Nacimiento</label>
            <input type="date" name="date" id="fecha">
            <input type="submit" value="REGISTRARSE">
            <input type="reset" value="BORRAR">
        </fieldset>
    </form>
</body>
</html>